<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1> File Upload </h1>
<!--For uploading the form the enctype is necessary-->
<form method="post" action="uploadFile" enctype="multipart/form-data">
    <label> File Upload </label>
    <input type="file" name="file">
    <br>
    <br>
    <button type="submit" value="submit">Upload</button>
</form>

<!--get the list of files from the ibm bluemix-->
<br>
<br>
<br>

<a href="listFiles">Show files list</a>

</body>
</html>